
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@300;400&display=swap');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
    text-decoration: none;
    color: white;
}
.content-container {
    background-color: white !important;
    background-image: url(https://res.cloudinary.com/start-ng/image/upload/v1589770674/christopher-gower-m_HRfLhgABo-unsplash_k2ytb5.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    padding: 0 0 0 32px !important;
    padding-bottom: 32px !important;
}


body {
    background-color: black!important;
    font-family: 'Montserrat', sans-serif;;
}

/*header*/
.header {
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 16px auto;
    color: white;
    margin-top: 5em;
}
.samuria-text {
    font-weight: 300;
    font-size: 16px;
}
.title-text {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Monoton', cursive;
    margin-top: 32px;
}
.title-subtext {
    font-weight: 300;
    font-size: 16px;
    margin-top: 8px;
}
.git-btn {
    background-color: white!important;
    color: white!important;
    text-decoration: none!important;
    cursor: pointer;
    padding: 4px auto;
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
}


/*masterhead*/

.about {
    text-align: center;
    padding: 16px 192px;
}


/*slides bg*/
.bg-1 {
    background-image: url(https://res.cloudinary.com/start-ng/image/upload/v1589764178/a12666eea6b9c6d9f0d12a84362ac633-700_bhze5i.jpg);
    background-size: 720px;
    background-position: 60%;
    background-repeat: no-repeat;
}
.bg-2 {
    background-image: url(https://res.cloudinary.com/start-ng/image/upload/v1589764604/photo-1517694712202-14dd9538aa97_h86zqi.jpg);
    background-size: 720px;
    background-position: 60% 40%;
    background-repeat: no-repeat;
}

/*glider*/
.slides {
    text-align: center;
    margin: 16px 32px;
    color: white;
    text-transform: uppercase;
    border: 1px white;
    border-radius: 4px;
    padding: 16px 0;
}
.glider-contain {
    width: 85% !important;
    margin-top: 12% !important;
    margin-bottom: 5% !important;
}
.glider-prev {
}
.days {
    font-family: ;
    font-weight: ;
}
.pjt-text {
    font-size: 16px;

}


footer {
    margin-top: 32px;
    color: white;
}
